#courses_section {
  font-size: 1.5rem;
}

#course_list {
  display: grid;
  width: 100%;
  max-width: 800px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: left;
  padding-left: 10%;
  margin-left: auto;
  margin-right: auto;
}

#course_1 #course_3 #course_5 {
  grid-column-start: 1;
}

#course_2 #course_4 {
  grid-column-start: 2;
}

@media all and (max-width: 720px) {
  #course_list {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    padding-left: 0;
  }

  #course_list > * {
    grid-column-start: 1;
  }
}
