#navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 700px;
}

.nav-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-bottom: 5px solid #1c1c1c;
  border-right: 5px solid #1c1c1c;
  border-bottom-right-radius: 5px;
  width: 100%;
  max-width: 700px;
}

.nav-item {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 5;
  text-align: center;
}

.nav-link {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  font-size: 16pt;
  text-decoration: none;
  color: white;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #1c1c1c;
}

.nav-link:hover {
  text-decoration: none;
  color: #1c1c1c;
  background-color: #d8d9c7;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-link:focus {
  text-decoration: none;
  color: #1c1c1c;
  background-color: #a1baff;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu {
  display: none;
  flex-flow: column;
  justify-content: center;
  height: 70px;
  width: 480px;
  background-color: #1c1c1c;
  padding-left: 20px;
}

.menu_line {
  width: 20px;
  height: 3px;
  margin-bottom: 4px;
  background-color: white;
}

@media all and (max-width: 480px) {
  .menu {
    display: flex;
  }

  .nav-list {
    flex-direction: column;
    display: none;
  }

  #navbar {
    flex-direction: column;
  }
}

@media all and (min-width: 481px) {
  .menu {
    display: none;
  }

  .nav-list {
    flex-direction: row;
    display: flex;
  }

  #navbar {
    flex-direction: row;
  }
}
