body {
  margin: 0;
  background-color: #d8d9c7;
}

nav {
  display: flex;
  padding-bottom: 44px;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

h1 {
  margin-top: 100px;
  text-align: center;
  overflow: hidden;
}

.nav-list {
  overflow: hidden;
  display: flex;
  max-height: 87px;
  flex-shrink: 2;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-bottom: 5px solid #1c1c1c;
  border-right: 5px solid #1c1c1c;
  border-bottom-right-radius: 5px;
}

.nav-item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  text-align: center;
}

.nav-link {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
  font-size: 20pt;
  text-decoration: none;
  color: white;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #1c1c1c;
  box-sizing: content-box;
}

.nav-link:hover {
  text-decoration: none;
  color: #1c1c1c;
  background-color: #d8d9c7;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.nav-link:focus {
  text-decoration: none;
  color: #1c1c1c;
  background-color: #a1baff;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.anchor {
  display: hidden;
  position: relative;
  top: -100px;
}

content {
  margin-left: 5px;
}

h2 {
  margin-left: inherit;
}

p {
  margin-left: inherit;
}

#scrollButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
  border-radius: 5px;
  border-color: transparent;
  font-size: medium;
  background-color: #1c1c1c;
  color: white;
}

#scrollButton:hover {
  background-color: white;
  color: #1c1c1c;
  border: solid;
  border-color: #1c1c1c;
}
