body {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  text-align: center;
  margin: 0;
  background-color: #d8d9c7;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 700px;
}

.nav-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-bottom: 5px solid #1c1c1c;
  border-right: 5px solid #1c1c1c;
  border-bottom-right-radius: 5px;
  width: 100%;
  max-width: 700px;
}

.nav-item {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 5;
  text-align: center;
}

.nav-link {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  font-size: 16pt;
  text-decoration: none;
  color: white;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #1c1c1c;
}

.nav-link:hover {
  text-decoration: none;
  color: #1c1c1c;
  background-color: #d8d9c7;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.nav-link:focus {
  text-decoration: none;
  color: #1c1c1c;
  background-color: #a1baff;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.menu {
  display: none;
  flex-flow: column;
  justify-content: center;
  height: 80px;
  width: 480px;
  background-color: #1c1c1c;
  padding-left: 20px;
}

.menu_line {
  width: 20px;
  height: 3px;
  margin-bottom: 4px;
  background-color: white;
}

@media all and (max-width: 480px) {
  .menu {
    display: flex;
  }

  .nav-list {
    flex-direction: column;
    display: none;
  }

  #navbar {
    flex-direction: column;
  }
}

@media all and (min-width: 481px) {
  .menu {
    display: none;
  }

  .nav-list {
    flex-direction: row;
    display: flex;
  }

  #navbar {
    flex-direction: row;
  }
}

#greeting {
  display: flex;
  flex-flow: column;
  margin-top: 100px;
  align-items: center;
}

#greeting_small_1 {
  margin-left: 10px;
  margin-right: auto;
  margin-bottom: -15px;
}

#greeting_big {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
  text-align: center;
}

#greeting_small_2 {
  margin-right: 0;
  margin-left: auto;
  margin-top: 0;
}

content {
  display: flex;
  flex-direction: column;
}

.anchor {
  display: hidden;
  position: relative;
  top: -100px;
}

#about_section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  margin-left: 25px;
  margin-right: 25px;
}

#about_section > p {
  text-align: left;
  margin-left: inherit;
  margin-right: 5px;
  max-width: 370px;
}

#pic_of_me {
  border: 1px;
  border-radius: 15px;
  box-shadow: -5px 5px 15px 5px rgba(0, 0, 0, 0.5);
}

h2 {
  margin-left: inherit;
  font-size: 24pt;
}

.form_container {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  padding: 0;
  border: 1px solid #1c1c1c;
  border-radius: 5px;
  width: 375px;
}

.contact_form {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  width: 100%;
}

.form_element {
  display: flex;
  text-align: right;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.form_element > label {
  width: 60px;
  padding-right: 10px;
}

.form_element > span {
  width: 250px;
  height: 250px;
  font-family: "Courier New", Courier, monospace;
  word-wrap: break-word;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-right: 0px;
  margin-left: auto;
  text-align: left;
  background-color: white;
  border: 1px solid #1c1c1c;
  border-radius: 2px;
}

.form-input {
  width: 250px;
  font-family: "Courier New", Courier, monospace;
  font-size: 12pt;
  margin-left: auto;
  margin-right: 0;
  border: 1px solid #1c1c1c;
  border-radius: 2px;
}

#Submit {
  width: 256px;
  margin-left: 109px;
  margin-right: auto;
  margin-bottom: 5px;
  border-color: transparent;
  font-size: medium;
  background-color: #1c1c1c;
  color: white;
}

#Submit:hover {
  background-color: white;
  color: #1c1c1c;
  border: 2px solid;
  border-color: #1c1c1c;
}

#scrollButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
  border-radius: 5px;
  border-color: transparent;
  font-size: medium;
  background-color: #1c1c1c;
  color: white;
}

#scrollButton:hover {
  background-color: white;
  color: #1c1c1c;
  border: solid;
  border-color: #1c1c1c;
}
